__pycache__/pathfinder.cpython-37.pyc
__pycache__/extractor.cpython-37.pyc
__pycache__/databaseextender.cpython-37.pyc
__pycache__/scanner.cpython-37.pyc
The Dukes Of Hazzard ACDC - Shoot To Thrill.mp3
__pycache__/directorator.cpython-37.pyc
__pycache__/filenameanalyzer.cpython-37.pyc
